<!DOCTYPE html>
<html>
  <head>
    <title>Mt. Hood National Forest Wildlife Study</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <header class="text-center">
    <div class="container">
      <h1>Mt. Hood National Forest</h1>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/sightings">ALL WILDLIFE SIGHTINGS</a></li>
        <li><a href="/rangers">ALL RANGERS</a></li>
        <li><a href="/animals">ALL ANIMALS</a></li>
      <ul>
    </div>
  </header>
  <body>
    <div class="container">

          #parse( $template )

    </div>
  </body>
</html>
